@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
* {
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
header {
  height: 65px;
  width: 100%;
  background-color: #330867;
  position :fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
}
.header-left{
  display: inline-flex;
  color:white;
}
.list-header {
  margin-left: -75px;
  margin-top: -25px;
  padding: 0px 25px;
}
.list-header li{
  color: #fff;
  display: inline-flex;
  list-style: none;  
  margin-left: 25px;
}
.list-header a {
  text-decoration: none;
  color: #fafafa;
}
.list-header a:hover {
  background-color: black;
  cursor: pointer;
}

.logo-header{
  width:200px;
  margin-top:-25px;
}

.header-right{
  float: right;
  margin-top: -15px;
}

#top-main{
	margin-left: -10px;
  padding: 180px 0 100px 0;
  background-image: linear-gradient(90deg, 
    rgba(2,0,36,0.5) 45%, 
    rgba(66,66,218,0.5) 85%, 
    rgba(40,208,242,0.5) 100%), url(https://manualdosgames.com/wp-content/uploads/2021/07/Netflix.jpg);  
  z-index: -1;
  background-size:cover;
  text-align: center;
  font-family: sans-serif;
  background-attachment: fixed;
  left:  0;
}
.container h1{
  font-size: 45px;
  color: whitesmoke;
  text-shadow: 2cm;
  left:  0;
}
.container p {
  font-size: 20px;
  color:whitesmoke;
  line-height: 5px;
}
.container{
  margin-bottom: 60px;
  margin-top:30px
}
.search-box{
  width:500px;
  margin-right: -80px;
}
.search {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
.button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #53bd84;
  background-color:#53bd84;
  color:#fafafa;
}
.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}

#film {
	margin-left: -10px;
	padding-top: 20px;
	background: rgb(8,27,52);
  background: linear-gradient(0deg, 
    rgba(8,27,52,1) 0%,
    rgba(0,0,0,1) 100%);
	font-family: inherit;
  text-align: center;
  color: #fafafa;
}
#film h2 {
	text-align: center;
}
.genre {
	display: inline-flex;	
}
.action {
	width: 25%;	
	padding: 15px 25px;
}
.action:hover {
	opacity: 0.5;
	cursor: pointer;
}
